.header-block{
    background-color: #ffffff;
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
  

}

.header-logo img{
    width: 200px;
    
}
.options-flex{
    display: flex;
    
}
.options{
   
   
    margin-top: 35px;
    padding-left: 30px;
}
.search-field{
    
    margin-top: 25px;
    padding-left: 100px;
    position: relative;
    display: flex;
  
      

}
.search-icon{
    margin-top: 9px;
    position: absolute;
    right: 10px;
}
input{
    border: 2px solid whitesmoke;
    border-radius: 20px;
    height: 20px;
    padding: 10px;
    font-size: 16px;
}
.accountandlogin{
    margin-top: 25px;
    padding-left: 60px;
    display: flex;
    gap: 25px;
}
.account-logo{
    display: inline-flex;
    align-items: center;
    
}
.cart-logo-hyper{
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    border-left: 2px solid #036242;
    

}


