.products{
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    max-width: 1200px;

}
.feature-title{
    margin-top: 80px;
    font-weight: 500;
    font-size: 30px;
}
.featured-categories,.bestProductDiv{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.fcategory1{
    background-color: #EF7C8E;
    border-radius: 10px;
}
.fcategory2{
    background-color: #FAE8E0; border-radius: 10px;
}
.fcategory3{
    background-color: #B6E2D3; border-radius: 10px;
}
.fcategory4{
    background-color: #D8A7B1; border-radius: 10px;
}
.fcategory5{
    background-color: #B9B7BD; border-radius: 10px;
    
}
.productPict{
    width: 202px;
    height: 165px;
    padding: 10px;
}
.categoryName{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.best-product-title{
    font-weight: 500;
    font-size: 30px;
    margin-top: 80px;


}

.filter-buttons{
    text-decoration: none;
    color: #1B1B1B;
    font-weight: 400;
    font-size: 20px;
    
    border: 2px solid #1B1B1B;
    border-radius:50px ;
    padding: 15px;

}
.filter-buttons-div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.filter-buttons{
    margin-top: 20px;
}
.filter-buttons.all{
    background-color: #0A5B45;
    color: whitesmoke;
}

.bestProductPic{
    background-color: #e3e3e3;
    border-radius: 10px;
    width: 222px;
    height: 253px;
    display: flex;
}


.bestProduct{
    background-color: #e3e3e3;
    border-radius: 10px;
    width: 160px;
    height: 145px;
    display: flex;
    padding: 10px;
    align-self: center;
    
}
.svgElem{
    padding: 10px;
    align-self: flex-start;
    background-color: white;
    border-radius: 50px;
    margin-top: 4px;
    margin-right: 4px;
    
    
}
.bestProductDiv{
    margin-top: 30px;
}
.bestProduct1{
    background-color: #e3e3e3;
    border-radius: 10px;
    width: 154px;
    height: 145px;
    display: flex;
    padding: 10px;
    align-self: center;
}
.namePrice{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.addToCar{
    text-decoration: none;
    color: black;
    
    padding: 8px;
    border-radius: 50px;
    border: 2px solid black;
}
.addToCart{
    margin-top: 15px;
    margin-bottom: 15px;
}
.addToCar:hover{
    background-color: #0A5B45;
    color: whitesmoke;
    transition: 0.45s;
}

.promotions{
    display: flex;
    gap: 10px;
    margin-top: 40px;
    
    
}
.freeStuff{
    background-color: #FAE8E0;
    width: 50%;
    
    padding: 20px;
    border-radius: 5px;
    
}
.cashBack{
    background-color: #B6E2D3;
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    
    
}
.title{
    display: flex;
    gap: 20px;
}
.textTitle,.offTitle{
    margin-top: 50px;
    font-weight: 400;
    font-size: 20px;
}
.textDescprom,.getButton,.shopButton{
    font-weight: 400;
    font-size: 20px;


}
.textHeadline{
    font-weight: 500;
    font-size: 40px;
    margin: 0;
}
.getBestDeal,.shop-now{
    text-decoration: none;
    display: inline-flex;
    align-content: center;
    gap: 7px;
    padding: 18px;
    color: #F0F0F0;
    background-color: #0A5B45;
    border-radius: 50px;
}
.getBestDeal:hover,.shop-now:hover{
    background-color: #1B1B1B;
    color: #0A5B45;
    transition: 0.45s;
}
.offTitle{
    background-color: #0A5B45;
    padding: 4px;
    border-radius: 3px;
}
.popularItemTitle{
    font-weight: 500;
    font-size: 30px;
    margin-top: 80px;
}


.popularProductDiv{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    
   
}


.popularProduct{
    background-color: #e3e3e3;
    border-radius: 10px;
    width: 160px;
    height: 145px;
    display: flex;
    padding: 10px;
    align-self: center;
    
    

    
}
.popularProductPic{
    background-color: #e3e3e3;
    border-radius: 10px;
    width: 100%;
    height: 283px;
    display: flex;
    
   
   
}


.slidePopularProduct{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
}
.numberOfSlide{
    position:absolute;
    
}
.slideLine{
    flex-grow: 1;
    
    border-top: 1px solid black;
    margin-left: 42px;
    margin-right: 2px;
}
.forward,.backward{
    border: 2px solid black;
    border-radius: 50%;
    width: 35px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.arrows{
    display: flex;
    gap: 8px;
    
    justify-content: center;
}
