<div class="products">
    <p class="feature-title">Choose Your Featured Categories</p>
    <div class="featured-categories">
        <div class="fcategory1">
            <img class="productPict" src="assets/images/product1Bean.png" alt="Product1">
            <p class="categoryName">Green Beans</p>
        </div>
        <div class="fcategory2">
            <img class="productPict" src="assets/images/sapotaima.png" alt="Product2">
            <p class="categoryName">Sapota Fruit</p>
        </div>
        <div class="fcategory3">
            <img class="productPict" src="assets/images/product3tomato.png" alt="Product3">
            <p class="categoryName">Tomatoes</p>
        </div>
        <div class="fcategory4">
            <img class="productPict" src="assets/images/product4redp.png" alt="Product4">
            <p class="categoryName">Peppers</p>
        </div>
        <div class="fcategory5">
            <img class="productPict" src="assets/images/product5Cab.png" alt="Product5">
            <p class="categoryName">Cabbage</p>
        </div>

    </div>
    <p class="best-product-title">Todays Best Selling Product!</p>
    <div class="filter-buttons-div">
        <a href="" class="filter-buttons all">All</a>
        <a href="" class="filter-buttons">Butter</a>
        <a href="" class="filter-buttons">Milk Drinks</a>
        <a href="" class="filter-buttons">Breakfast Cereal</a>
        <a href="" class="filter-buttons">Curd & Yogurt</a>
        <a href="" class="filter-buttons">Condensed Milk</a>
        <a href="" class="filter-buttons">Fruit & Juices</a>
    </div>
</div>