<div class="products">
    <p class="feature-title">Choose Your Featured Categories</p>
    <div class="featured-categories">
        <div class="fcategory1">
            <img class="productPict" src="assets/images/product1Bean.png" alt="Product1">
            <p class="categoryName">Green Beans</p>
        </div>
        <div class="fcategory2">
            <img class="productPict" src="assets/images/sapotaima.png" alt="Product2">
            <p class="categoryName">Sapota Fruit</p>
        </div>
        <div class="fcategory3">
            <img class="productPict" src="assets/images/product3tomato.png" alt="Product3">
            <p class="categoryName">Tomatoes</p>
        </div>
        <div class="fcategory4">
            <img class="productPict" src="assets/images/product4redp.png" alt="Product4">
            <p class="categoryName">Peppers</p>
        </div>
        <div class="fcategory5">
            <img class="productPict" src="assets/images/product5Cab.png" alt="Product5">
            <p class="categoryName">Cabbage</p>
        </div>

    </div>
    <p class="best-product-title">Todays Best Selling Product!</p>
    <div class="filter-buttons-div">
        <a href="" class="filter-buttons all">All</a>
        <a href="" class="filter-buttons">Butter</a>
        <a href="" class="filter-buttons">Milk Drinks</a>
        <a href="" class="filter-buttons">Breakfast Cereal</a>
        <a href="" class="filter-buttons">Curd & Yogurt</a>
        <a href="" class="filter-buttons">Condensed Milk</a>
        <a href="" class="filter-buttons">Fruit & Juices</a>
    </div>
    <div class="bestProductDiv">
        <div class="productanddesc">
            <div class="bestProductPic ">
                <img src="assets/images/broc.png" alt="" class="bestProduct1">
                <a href=""><svg class="svgElem " xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg></a>
            </div>
            <div class="namePrice">
                <strong>Brocolli</strong>
                <strong>$19.80</strong>
            </div>
            <div class="addToCart">
                <a href=""class="addToCar">Add To Cart</a>
            </div>
        </div>
        <div class="productanddesc">
            <div class="bestProductPic">
                <img src="assets/images/freshveg.png" alt="" class="bestProduct">
               <a href=""><svg class="svgElem" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg></a> 
            </div>
            <div class="namePrice">
                <strong>Fresh Vegetables</strong>
                <strong>$13.20</strong>
            </div>
            <div class="addToCart">
                <a href=""class="addToCar">Add To Cart</a>
            </div>
        </div>
       <div class="productanddesc">
        <div class="bestProductPic">
            <img src="assets/images/tomato.png" alt="" class="bestProduct">
            <a href=""><svg class="svgElem" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg></a>
         </div>
         <div class="namePrice">
            <strong>Tomato</strong>
            <strong>$13.23</strong>
        </div>
        <div class="addToCart">
            <a href=""class="addToCar">Add To Cart</a>
        </div>
       </div>
        <div class="productanddesc">
            <div class="bestProductPic">
                <img src="assets/images/vegbasket.png" alt="" class="bestProduct">
                <a href=""><svg class="svgElem"xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg></a>
     
             </div>
             <div class="namePrice">
                <strong>Vegatbles Basket</strong>
                <strong>$16.20</strong>
            </div>
            <div class="addToCart">
                <a href=""class="addToCar">Add To Cart</a>
            </div>
        </div>
        <div class="productanddesc">
            <div class="bestProductPic">
                <img src="assets/images/lettuce.png" alt="" class="bestProduct">
                <a href=""><svg class="svgElem" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg></a>
            </div>
            <div class="namePrice">
                <strong>Lettuce Leaf</strong>
                <strong>$4.59</strong>
            </div>
            <div class="addToCart">
                <a href=""class="addToCar">Add To Cart</a>
            </div>
        </div>
        <div class="productanddesc">
            <div class="bestProductPic">
                <img src="assets/images/capsicum.png" alt="" class="bestProduct">
                <a href=""><svg class="svgElem" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg></a>
            </div>
            <div class="namePrice">
                <strong>Capsicum</strong>
                <strong>$15.20</strong>
            </div>
            <div class="addToCart">
                <a href=""class="addToCar">Add To Cart</a>
            </div>
        </div>
        <div class="productanddesc">
            <div class="bestProductPic">
                <img src="assets/images/diffveg.png" alt="" class="bestProduct">
                <a href=""><svg class="svgElem" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg></a>
             </div>
             <div class="namePrice">
                <strong>Different Vegetables</strong>
                <strong>$34.23</strong>
            </div>
            <div class="addToCart">
                <a href=""class="addToCar">Add To Cart</a>
            </div>
        </div>
        <div class="productanddesc">
            <div class="bestProductPic">
                <img src="assets/images/eggplant.png" alt="" class="bestProduct">
                <a href=""><svg  class="svgElem" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg></a>
    
            </div>
            <div class="namePrice">
                <strong>Egggplant</strong>
                <strong>$7.99</strong>
            </div>
            <div class="addToCart">
                <a href=""class="addToCar">Add To Cart</a>
            </div>
        </div>

    </div>
    <div class="promotions">

       <div class="freeStuff">
        <div class="title">
            <p class="textTitle">
                Exclusive Offer

            </p>
            <p class="offTitle">
                15% OFF

            </p>

        </div>
        <div class="headline">
           <p class="textHeadline">
            Best Online <br>
            Deals, Free Stuff
           </p>

        </div>
        <div class="descProm">
            <p class="textDescprom">
                Only on this week...Don't miss
            </p>

        </div>
        <div class="getButton">
            <a href="" class="getBestDeal" >Get Best Deal<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F0F0F0"><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"/></svg></a>
        </div>

       </div>
       <div class="cashBack">
        <div class="title">
            <p class="textTitle">Regular Offer</p>

        </div>
        <div class="headline">
            <p class="textHeadline">10% cash-back <br>
            on personal care
            </p>

        </div>
        <div class="descProm">
            <p class="textDescprom">
                Max Cashback: $12. Code: CADHL837
            </p>

            <p></p>

        </div>
        <div class="shopButton">
            <a href="" class="shop-now" >Shop Now <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F0F0F0"><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"/></svg></a>

        </div>

       </div>
    </div>
</div>