<div class="readyToGetStarted">
    <p class="feature-title">Ready to get started?</p>

<div class="advertising">
    <div class="grow">
        <div class="dQuestion">
            Grow my business <br> with FoodieCart
        </div>
        <div class="dTitle">
            Let us help your business reach more customers.

        </div>
        <div class="svgElem">
            <a href="" class="shop-now" >Learn More<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F0F0F0"><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"/></svg></a>
        </div>


    </div>
    <div class="advertise">
        <div class="dQuestion">
            Advertise brand <br> on FoodieCart
        </div>
        <div class="dTitle">
            Let us help your business reach more customers.

        </div>
        <div class="svgElem">
            <a href="" class="shop-now" >Learn More<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F0F0F0"><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"/></svg></a>
        </div>



    </div>
    <div class="learnMore">
        <div class="dQuestion">
            Learn more about FoodieCart
        </div>
        <div class="dTitle">
            Let us help your business reach more  customers.

        </div>
        <div class="svgElem">
            <a href="" class="shop-now" >Learn More<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F0F0F0"><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"/></svg></a>
        </div>

        
    </div>
</div>
</div>