.feature-title{
    margin-top: 80px;
    font-weight: 500;
    font-size: 30px;
}

 .advertising{
    display: flex;
    justify-content: center;
    gap: 20px;
    
    
 }
 .readyToGetStarted{
    
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    
    max-width: 1200px;
    
    

 }
 .grow{
    background-color: #F0EBE3;
    padding: 40px;
    border-radius: 10px;
 }
 .advertise{
    background-color: #FFEFEF;
    padding: 40px;
    border-radius: 10px;
 }
 .learnMore{
    background-color: #F7FFE5;
    padding: 40px;
    border-radius: 10px;
 }
 .shop-now{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-decoration: none;
    background-color: #0A5B45;
    color: #F0F0F0;
    padding: 18px;
    border-radius: 50px;
    width: 150px;
    font-weight: 400;
    font-size: 20px;
}

.shop-now:hover{
    background-color: #1B1B1B;
    color: #0A5B45;
    transition: 0.45s;
 }
 
 .dTitle{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
    
}
.dQuestion{
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 20px;
   
}
@media (max-width: 975px) {
    .advertising{
        flex-wrap: wrap;
    }
 }