<section class="get-started">
    <div class="banner">
        <div class="logo1">
            <img class="getImage1" src="assets/images/logo1Get.png" alt="Vegetable1">

        </div>
        <div class="description">
            <div class="title">
                <p class="dTitle">
                    Organic & Garden Fresh
                </p>
            </div>
            <div class="desc">
                <p class="dQuestion">
                    Need Organic & quality <br>
                    product everyday?
                </p>

            </div>
            <div class="svgElem">
                <a href="" class="shop-now" >Shop Now <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F0F0F0"><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"/></svg></a>
            </div>
            

        </div>
        <div class="logo2">
            <img class="getImage2" src="assets/images/logo2get.png" alt="vegetable2">

        </div>
        
    

    

    </div>


   
    

</section>