<div class="intro">
    <div class="intro-div">
        <div class="intro-text">
            <p class="welcome">Welcome to a Veggie Paradise</p>
            <p class="intro-title">Indulge in Exquisite <br> Flavors with VeggieCart</p>
            <p class="intro-desc">Discover a world of exceptional tastes curated just for you. From <br>farm-freshly produced, our handpicked.</p>
            
            <a href="" class="shop-now" >Shop Now <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F0F0F0"><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"/></svg></a>
        </div>
        <div class="intro-image">
            <div class="image-div">
                <img src="assets/images/intro-image2.png" alt="intro-image">
            </div>
    
        </div>
    </div>
    
</div>